#ContaBox{
    margin-top: 40px;
}

.conta{
    background-color: #32373b;
    padding: 10px;
    border-radius: 10px;
    width: 75%;
    margin: 20px auto;
    transition: 1s;
    border: 0px solid #343a40;
}
.conta:hover{
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, .3);
    border: 1px solid #2c3033;
}